// Custom styles.

.site-author-image {
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}

.footer-inner {
   text-align: center;
   font-size: 12px;
}
.footer-inner a {
    border: none;
}

.posts-expand .post-body ul li {
    list-style: inherit;
}

.post {
  padding: 25px;
  -webkit-box-shadow: 0 0 14px rgba(202,203,203,0.5);
  -moz-box-shadow: 0 0 14px rgba(202,203,204,0.5);
}

.post-button {
  margin-top: 30px;
  text-align: center;
}
.post-button .btn {
  color: #fff;
  font-size: 15px;
  background: #686868;
  border-radius: 16px;
  line-height: 2;
  margin: 0 4px 8px 4px;
  padding: 0 20px;
  transition: 0.2s ease-out;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.post-button a {
  border-bottom: 1px solid #666;
}
.post-button a:hover {
  color: #7784ba;
}

.post-spread {
	margin-top: 10px;
  height: auto;
}

.bdsharebuttonbox  {
 float: right;
}

.post-nav-divider {
	display:none;
}

.colorful a {
	color: #E16132;
	margin-right: 5px;
	text-decoration: none;
	padding: 3px 0;
}
@supports (-webkit-transform: scale(0)) {
	.colorful {
		/*-webkit-mask-image: linear-gradient(to right, red, orange, yellow, green, cyan, blue, purple);*/
		background-image: linear-gradient(to right, red, orange, green, blue, green, orange, red, orange, green, blue, green, orange, red);
	    -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
	    -webkit-background-size: 200% 100%;
	    animation: bgp 5s infinite linear;
	}
}
@-webkit-keyframes bgp {
    0%  { background-position: 0 0;}
    100% { background-position: -100% 0;}
}

.posts-expand .post-body .fancybox img {
    margin: 0px; 
}
